body{
    padding: auto;
    margin: auto;
    background-color: #2B2E31;
    font-family: monospace;
    color:white
}

.navbar{
    background-image: url('Images/navBackGround.png');
    background-size: cover;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.navElements{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: #B9EDDD;
}

.navButtons{
    font-size: 20px;
    color: #B9EDDD;
    margin: auto;
    padding: auto;
    height: 100%;
}
.navButtons:hover{
    font-size: 20px;
    color: #2030c5;
    margin: auto;
    padding: auto;
    height: 100%;
}
button{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    border: none;
    padding:10px;
    background-color: rgba(78, 76, 45, 0);

}
button:hover{
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    backdrop-filter: blur(5px);
    /* filter: blur(5px); */
}

a{
    text-decoration: none;
    color: rgb(241, 247, 241);
}
input{
    margin: auto;
    padding: 11px;
}
.logo{
    margin-right: auto;
}
/* Navbar ended */


/* Main page */

.mainpage{
    display: grid;
    grid-template-rows: repeat(4, 100px) 50px repeat(4, 100px);
    grid-template-columns: repeat(8, 1fr);
    /* grid-template-columns: repeat(auto-fit, minimax(240, 1fr)); */
}

hr{
    height: 0.05px;
    border-bottom: #353431 dotted 1px;
    width: 100%;
}

.newsImage{
    grid-row: 1/5;
    grid-column: 1/7;

    margin:20px;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    padding-left: 15px;
    background-color: #222426;
    /* background-color: orange; */
    display: flex;
    align-items: center;
}

.newsImage img{
    height: 320px;
    border-radius: 10px;
    margin-right: 40px;
}

.banner-heading{
    margin-right: 10px;
    font-size: 60px;
    font-family: monospace;
    word-spacing: -10px;
    letter-spacing: -1px;
    color: white;
}

.overallStats{
    grid-column: 7/9;
    grid-row: 1/5;

    margin:20px;
    background-color: #222426;
    text-align: left;
    padding: 10px 20px 20px 10px;
    border-radius: 10px;
    padding-bottom: 20px;
}
.stats-heading{
    font-size: 22px;
    font-family: monospace;
    letter-spacing: -0.5px;
    font-style: normal;
    font-weight: 400;
    margin-top: 6;
    margin-left: 6px;
}

.icons{
    height: 20px;
    margin: 0px 10px;
}

.aabbcc{
    display: inline-flex;
}

.stats{
    text-align: left;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 0px;
    font-size: 16px;
    color: azure;
}



h2{
    color : white;
}

/* Graph options */

.graphButtons{
    grid-column: 3/7;
    margin: 0px 20px;
    border-radius: 10px;
    background-color: #222426;
}

.graphOption{
    font-size: 20px;
    color: white;
}

.graphOption:hover{
    font-size: 20px;
    color: rgb(141, 231, 132);
}

.graphOption:focus{
    color: rgb(141, 255, 255);
}
/* Graph options */

/* Graph */
.bargraph{
    grid-row: 6/10;
    grid-column: 1/7;

    /* height: 100%; */
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    background-color: #222426;
} 
/* Graph */


/* Table */
table{
    margin: 0 auto;
}

.table-container {
    grid-row: 6/10;
    grid-column: 7/9;
    margin: 20px;

    overflow-y: auto;
    background-color: #222426;
    border-radius: 10px;
}

.thead-container {
    position: sticky;
    top: 0;
    background-color: #222426;
    font-size: 18px;
}
th{
    padding-top: 10px;
}

th, td{
    padding-left: 20px;
    padding-right: 10px;
    text-align: center;
}
/* Table */

@media (max-width: 700px) {
    .mainpage{
        display: grid;
        grid-template-rows: repeat(3, 100px) 50px repeat(5, 100px);
        grid-template-columns: repeat(8, 1fr);
    /* grid-template-columns: repeat(auto-fit, minimax(240, 1fr)); */
    }

    
    .newsImage{
        grid-row: 1/2;
        grid-column: 1/9;
        background-color: green;
    }

    .overallStats{
        grid-row: 2/4;
        grid-column: 1/9;
        background-color: orange;
    }
    .graphButtons{
        grid-row: 4/5;
        grid-column: 1/9;
        margin: 0 10px;
        background-color: yellow;
    }
    .bargraph{
        grid-row: 5/8;
        grid-column: 1/9;
        padding: 0px;
    }
    /* .char{
        height: 100%;
        padding: 0;
    } */

    .table-container{
        grid-row: 8/10;
        grid-column: 1/9;
    }

    .navbar{
        display:none;
    }
}



