body{
    padding: auto;
    margin: auto;
    background-color: #302E2B;
}
#chart{
    width: 900px;
    height: 100px;
}

.navbar{
    /* background-color: #1a58bb; */
    background-image: url('navBackGround.png');
    background-size: cover;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.navElements{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: #B9EDDD;
}

.navButtons{
    font-size: 20px;
    color: #B9EDDD;
    margin: auto;
    padding: auto;
    height: 100%;
}
.navButtons:hover{
    font-size: 20px;
    color: #2030c5;
    margin: auto;
    padding: auto;
    height: 100%;
}
button{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    border: none;
    padding:10px;
    background-color: rgba(78, 76, 45, 0);

}
button:hover{
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    backdrop-filter: blur(5px);
    /* filter: blur(5px); */
}

a{
    text-decoration: none;
    color: rgb(241, 247, 241);
}
input{
    margin: auto;
    padding: 11px;
}
/* Navbar ended */


/* Main page */
.logo{
    margin-right: auto;
}

.mainPage{
    display: flex;
    height: 390px;
}

hr{
    height: 0.05px;
    border-bottom: #353431 dotted 1px;
    width: 100%;
}


.newsImage{
    flex: 6;
    margin:20px;
    /* height: 330px; */
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    padding-left: 15px;
    background-color: #E0F0FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsImage img{
    /* width: 100%; */
    height: 320px;
    /* margin:auto; */
    border-radius: 10px;
}

.banner-heading{
    margin-right: 10px;
    font-size: 60px;
    font-family: monospace;
    word-spacing: -10px;
    letter-spacing: -1px;
}

.overallStats{
    flex:2;
    margin:20px;
    height: fit-content;
    background-color: #262522;
    text-align: left;
    padding: 10px 20px 20px 10px;
    border-radius: 10px;
    padding-bottom: 20px;
}
.stats-heading{
    font-size: 22px;
    font-family: monospace;
    letter-spacing: -0.5px;
    font-style: normal;
    font-weight: 400;
    margin-top: 6;
    margin-left: 6px;
}

.icons{
    height: 20px;
    margin: 0px 10px;
}

.aabbcc{
    display: inline-flex;
}

.stats{
    text-align: left;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 0px;
    font-size: 16px;
    color: azure;
}


h2{
    color : white;
}


.optionButtons{
    background-color: rgba(78, 76, 45, 0);
    text-align: center;
}

.optionButtons button{
    background-color: rgb(41, 142, 41);
    border: none;
}

.optionContent{
    display:flex
}

.optionContentAverage{
    width: 40%;
    height: auto;
}

.optionContentTop3{
    width: 60%;
    text-align: center;
}

.optionContentAverage h3{
    color: rgb(227, 226, 226);
}

.canvas-div{
    padding: 20px;
}